<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container-md">
            <h1 class="titulo-alinhado">
                <i class="bi bi-book me-3"></i>
                <a class="navbar-brand h1-alinhado botao-navbar" href="#">Minhas Resenhas de Livros</a>
                <a class="navbar-brand h1-alinhado botao-navbar" routerLink="/pagina-sobre" href="#">Sobre</a>
            </h1>
        </div>
    </nav>
    <div class="principal">
        <router-outlet />
    </div>
</body>