<h4>Do que se trata essa página?</h4>
<mat-divider></mat-divider>
<article>
    <p>Feito para estudo, é um WebApp para anotações de reviews/resenhas de livros para uso pessoal do usuário que deseja registrar pensamentos após finalizar suas leituras.</p>
    <p>O código fonte do projeto pode ser encontrado nesse <a [href]="'https://github.com/alexdsouzaf/PWA-REVIEWS-LIVROS'">repositório do github</a>, o mesmo responsável pela página estar no ar.</p>
    <p>Essa versão disponível armazena todos os dados no Local Storage do próprio navegador e conta com suporte para PWA, permitindo ser instalado como um app em celulares e computadores.</p>
</article>
